<div class="card">
    <div class="card-header">
        {{product ? 'Edit product: ' + product.productName : 'Add a product'}}
    </div>
    <div class="card-body">
        <form novalidate [formGroup]="productForm">
            <div class="form-group row">
                <label for="productName" class="col-md-4">Product Name :</label>
                <div class="col-md-6">
                    <input 
                        type="text"
                        formControlName="productName"
                        [ngClass]="{'is-invalid': messages.productName}">
                    <span class="invalid-feedback">
                        {{ messages.productName }}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="productCode" class="col-md-4">Product Code :</label>
                <div class="col-md-6">
                    <input 
                        type="text"                    
                        formControlName="productCode"
                        [ngClass]="{'is-invalid': messages.productCode}">
                    <span class="invalid-feedback">
                        {{ messages.productCode }}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="price" class="col-md-4">Price :</label>
                <div class="col-md-6">
                    <input 
                    type="number"
                    formControlName="price"
                    [ngClass]="{'is-invalid': messages.price}">
                    <span class="invalid-feedback">
                        {{ messages.price }}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="starRating" class="col-md-4">Star Rating :</label>
                <div class="col-md-6">
                    <input 
                    type="number"
                    formControlName="starRating"
                    [ngClass]="{'is-invalid': messages.starRating}">
                    <span class="invalid-feedback">
                        {{ messages.starRating }}
                    </span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="offset-md-2 col-mb-4">
                    <button class="btn btn-primary mr-3"
                        type="submit"
                        style="width: 80px;"
                        [title]="productForm.valid ? 'Save your product' : 'Disabled'"
                        [disabled]="!productForm.valid">
                        Save
                    </button>    
                </div>
            </div>
        </form>
    </div>
</div>